@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kalam:wght@300;700&family=Ribeye&family=Satisfy&display=swap');

body {
    background-color: rgba(105, 90, 205, 0.603);
    font-family: 'Caveat', cursive;
}

li {
    font-family: 'Ribeye', cursive;
    font-size: 25px;
}

h1{
    color: blueviolet;
}

.container-fluid {
    width: 100%;
    height: 200px;
    background-color: lavender;
    padding: 0;
}

.container-imagen img {
    margin:10px auto;
	display:block;
    width: 300px;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.form-control{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-toggler{
    color: rgb(154, 123, 238);
}


.carousel-inner {
    display: block;
    width: 100%;
    height: 30%;
}

.bg-body-tertiary {
    padding: 0;
}

.navbar-brand {
    font-size: 40px;
    color: rgba(160, 32, 177, 0.801);
    padding: 0;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: rgb(20, 106, 109);
}