@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kalam:wght@300;700&family=Ribeye&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(105, 90, 205, 0.603);
    font-family: 'Caveat', cursive;
}

header{
background-color: lavender;
}

h1{
    color: blueviolet;
}

.container-fluid {
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    padding: 0;
}

.row{
    width: 100%;
    margin: 0;
}

.container-imagen img {
    margin:10px auto;
	display:block;
    width: 200px;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.container-imagen h1{
    text-align: center;
    color: beige;
    font-family: 'Kalam', cursive
}

.navbar-toggler{
    color: rgb(154, 123, 238);
}

.btn-outline-primary{
    color: honeydew;
    background-color: rgba(26, 145, 220, 0.539);
    border-color: silver;
} 

.bg-body-tertiary {
    padding: 0;
}

.navbar-brand {
    font-size: 40px;
    color: rgba(160, 32, 177, 0.801);
    padding: 0;
}